{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Zero Wahala {% endblock title %}</title>
     {% tailwind_css %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="bg-lavender-grey-100 font-sans text-forest-900 tracking-wide">
        {% block header %}{% endblock header %}
    {% block content %}

    {% endblock %}
    {% block footer %}{% endblock footer %}
    </div>
</body>
</html>